@import url('https://fonts.googleapis.com/css?family=Bangers');

nav {
    position: absolute;
    margin: 0; 
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(128, 0, 128, 0.3);
    width: 100%;
    height: 55px;

}


.App_Logo{
    color: whitesmoke;
    font-family: "Bangers", serif;
    font-size: 30pt;
    line-height: 50px;
    padding-left: 55px;
    font-weight: bold;
}

nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    line-height: 20px;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    font-family: "Bangers", serif;
    color: white;
    font-size: 20pt;
    padding: 14px 65px;
}

nav ul #straight_line {
    color: white;
    font-size: 20pt;
    padding-right: 5px;
}

nav ul li i {
    padding-right: 10px;
    color: white;
}

nav ul li #sign_in {
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li #sign_up {
    padding-left: 15px;
    padding-right: 15px;
}

li a:hover:not(.active) {
    background-color: #420242;
  }

  .active {
    background-color: #420242;
  }

h1 {
    font-size: 50pt;
    font-family: "Bangers", serif;
    text-align: center;
    color: #ff80ff;
    position: absolute;
    top: 6%;
    width: 100%;
}

.stopWatch_Container{
  width: 100%;
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
}

#stopwatch {
  color: #ffccff;
  background-color: rgba(128, 0, 128, 0.3);
  border-style: solid;
  font-size: 60px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.MainText_Container{
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
}

#mainText {

    color: #ffccff;
    font-size: 16pt;
    background-color: rgba(128, 0, 128, 0.3);
    border-style: solid;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#SignUp_Button {
    font-size: 18pt;
    width: 100px;
    padding-bottom: 0%;
    margin-left: 100px;
    height: 50px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
    
}

#remove_paddingBottom {
    padding-bottom: 0%;
}

#purpleSeaVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#signUpButton {
    position: absolute;
    top: 550px;
    margin-left: 60%;
    font-size: 22pt;
    background-color: #420242;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}

#logInButton {
    position: absolute;
    top: 550px;
    font-size: 22pt;
    margin-left: 35%;
    background-color: #420242;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}

.check_button_menu {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 55px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.Login_Icon_Container {
    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: 192px;
    justify-content: center;
    display: flex;
}

#Login_Icon {
    position: absolute; 
    margin-left: 1%; 
    font-size: 65px;
    padding-left: 7px;
    padding-top: 4px;
    color: white;
    background-color: rgba(34, 1, 34, 0.3);
    border-radius: 50%;
    width: 68px;
    height: 68px;
    

}

.Login_Box_Container {
    width: 100%;
    height: 350px;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 226px;
}

.Sign_Up_Box_Container {
    width: 100%;
    height: 450px;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 180px;
}

.Sign_Up_Box {
    width: 350px;
    height: 600px;
    margin-left: 1%;
    padding-top: 2px;
    background-color: rgba(32, 1, 32, 0.3);
    color: white;
    border-radius: 5px;
}

#SignUp_Title {
    text-align: center;
    font-size: 22pt; 
}

#SignUp_h4 {
    font-size: 13pt;
}

hr {
    margin-right: 10px;
}

#First_Name {
    margin-top: 6px;
}

form p {
    padding-top: 10px;
}

#Already_withAccount {
    color: white;
}

.Login_Box {
    width: 350px;
    height: 325px;
    margin-left: 1%;
    padding-top: 35px;
    background-color: rgba(32, 1, 32, 0.3);
    color: white;
    border-radius: 5px;
}

form {
    padding-left: 20px;
}

form .Input_Field {
    height: 45px;
    padding-bottom: 25px;
}

form .Input_Field input {
    height: 25px;
    width: 80%;
    padding-top: 9px;
    background-color: rgba(5, 0, 5, 0.3);
    color: aliceblue;
    font-size: 12pt;
}

form #Password_Id {
    padding-bottom: 0%;
}

form .Input_Field .Login_Button {
    font-size: 18pt;
    padding-top: 0%;
    width: 100px;
    margin-left: 100px;
    height: 50px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
}

form .Input_Field .Forgot_Password {
    padding-top: 12px;
    padding-bottom: 20px;
}

form .Input_Field .Forgot_Password #Forgot {
    color: white;
}

::placeholder {
    color: aliceblue;
}

form .Input_Field i {
    font-size: 28px;
    padding-right: 10px;
    background-color: #420242;
    height: 35px;
    text-align: center;
    padding-top: 4px;
    padding-left: 8px;
}

h3 {
    text-align: center;
    font-size: 19pt;
}

.Instructions_Box_Container {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 180px;
    height: 450px;
}

.Instructions_Box {
    width: 500px;
    height: 420px;
    color: #ffccff;
    background-color: rgba(128, 0, 128, 0.3);
    border-style: solid;
    overflow-y: scroll;
    padding: 1px 15px;
    
}

.Instructions_Box h2 {
    color: #fda5fd;
    text-decoration: underline;
}

.Instructions_Box h3 {
    text-decoration: underline;
    color: #fda5fd;
    text-align: left;
}

.Instructions_Box p {
    text-align: justify;
    font-size: 13pt;

}

@media (max-width: 1258px) {
    nav ul li a{
        font-size: 16pt;
        padding: 14px 60px;
    }
}

@media (max-width: 1162px){

    .check_button_menu{
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #420242;
        top: 25px;
        font-size: 45pt;
        padding-top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul #straight_line {
        display: none;
    }

    #check:checked ~ ul{
        left: 0;
        z-index: 1;
    }
    
}