@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
    font-size: 50pt;
    font-family: "Bangers", serif;
    text-align: center;
    color: #ff80ff;
    position: absolute;
    top: 3%;
    width: 100%;
}

.stopWatch_Container{
  width: 100%;
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
}

#stopwatch {
  color: #ffccff;
  background-color: rgba(128, 0, 128, 0.3);
  border-style: solid;
  font-size: 60px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.MainText_Container{
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
}

#mainText {

    color: #ffccff;
    font-size: 16pt;
    background-color: rgba(128, 0, 128, 0.3);
    border-style: solid;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#purpleSeaVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.buttons{
    /* width: 50px; */
    /* margin: 0 auto; */
}

#signUpButton {
    position: absolute;
    top: 550px;
    /* left: 450px; */
    /* display: inline-block;
    margin: 0 auto; */
    margin-left: 60%;
    font-size: 22pt;
    background-color: #ff80ff;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
}

#logInButton {
    position: absolute;
    top: 550px;
    /* left: 750px; */
    font-size: 22pt;
    margin-left: 35%;
    background-color: #ff80ff;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
}