body {
    background-color: #262626;
}

h1 {
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    color: #000099;
}

#stopwatch {
    color: #000099;
}