@import url('https://fonts.googleapis.com/css?family=Bangers');

/*Section: Navigation Bar - CSS code for the navigation bar in all the pages 
that includes tabs to navigate through the pages of the Time Tracking 
App. I will label it as */

/*Section begins*/

nav {
    position: absolute;
    margin: 0; 
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(128, 0, 128, 0.3);
    width: 100%;
    height: 55px;

}

.App_Logo{
    color: whitesmoke;
    font-family: "Bangers", serif;
    font-size: 30pt;
    line-height: 50px;
    padding-left: 55px;
    font-weight: bold;
}

nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    line-height: 20px;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    font-family: "Bangers", serif;
    color: white;
    font-size: 20pt;
    padding: 14px 65px;
}

nav ul #straight_line {
    color: white;
    font-size: 20pt;
    padding-right: 5px;
}

nav ul li i {
    padding-right: 10px;
    color: white;
}

nav ul li #sign_in {
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li #sign_up {
    padding-left: 15px;
    padding-right: 15px;
}

li a:hover:not(.active) {
    background-color: #420242;
  }

.active {
    background-color: #420242;
}

#purpleSeaVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.check_button_menu {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 55px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/*Section ends*/

/*Section: about.html CSS code - */
/*Section starts*/

.About_Container {
    margin-top: 160px;
    position: absolute;
    width: 100%;
    height: 595px;
    display: flex;
}

.About_Container .About_Me {
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(128, 0, 128, 0.3);
    color: #ffccff;
    border: solid;
    width: 850px;
    height: 555px;
    display: flex;    
}

.About_paragraphs {
    width: 100%;
}

.About_paragraphs h3 {
    font-family: "Bangers", serif;
}

.About_paragraphs blockquote {
    text-align: center;
    font-size: 15pt;
    margin-bottom: 0%;
}

.About_paragraphs p {
    text-align: justify;
    font-size: 12.5pt;
    padding: 15px;
    margin-top: 0%;
}

#My_Picture {
    margin-top: 10px;
    width: 450px;
    height: 530px;
}

.About_Container .Feedback_Box {
    width: 458px;
    height: 574px;
    border: solid;
    background-color: rgba(128, 0, 128, 0.3);
    color: #ffccff;
    overflow-y: scroll;
    margin-left: 15px;
}

.hand_feedback_icons {
    width: 100%;
    padding-bottom: 5px;
    border-bottom:#ffccff solid 1.5px;
    padding-top: 10px;
    background-color: rgba(5, 0, 5, 0.3);
    display: flex;

}

.Feedback_Box h3 {
    font-family: "Bangers", serif;
    padding-left: 20px;
    animation-name: shaking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#hand_icon {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 35px;
    animation-name: hand_Emoji;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes hand_Emoji {
    0% { transform: translateX(-7px) }
    50% { transform: translateX(7px) }
    100% { transform: translateX(-7px) }
}

@keyframes shaking {
    0% { transform: translateX(0) }
    50% { transform: translateX(8px) }
    100% { transform: translateX(0) }
}

#contactUs_tab_container {
    margin-top: 30px;
    display: none;
}

#contactUs_tab_container h2 {
    font-size: 22pt;
    margin-bottom: 18px;
    text-align: center;
    font-family: "Bangers", serif;
}

#contactUs_tab_container form p label {
    font-size: 12pt;
}

#contactUs_tab_container form input {
    height: 25px;
    width: 80%;
    padding-top: 9px;
    background-color: rgba(5, 0, 5, 0.3);
    color: aliceblue
}

#contactUs_tab_container #contact_message {
    background-color: rgba(5, 0, 5, 0.3);
    color: aliceblue;
}

.submit_contactus_button {
    display: none;
    text-align: center;
}

.submit_contactus_button input {
    font-size: 25pt;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
    cursor: pointer;
}

.feedback_bar {
    width: 100%
}

.feedback_bar #feedback_button {
    font-size: 40px;
    height: 50px;
    width: 50%;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242; 
    cursor: pointer;
}

.feedback_bar #contactUs_button {
    font-size: 40px;
    height: 50px;
    width: 49%;
    float: right;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
    cursor: pointer;
}

.opinion_page {
    width: 400px;
    height: 40px;
    justify-content: center;
    display: flex;
}

.opinion_page p {
    margin-top: 25px;
    font-size: 13pt;
}

.stars_rate {
    margin-top: 20px;
}

.stars_rate input {
    display: none;
}

.stars_rate label {
    font-size: 40px;
    color: rgb(126, 126, 2);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.Feedback_Box .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stars_rate input:not(:checked) ~ label:hover, .stars_rate input:not(:checked) ~ label:hover ~ label {
    color: yellow;
} 

.stars_rate input:checked ~ label {
    color: yellow;
}

.stars_rate header {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    transition: all 0.2s ease;
}

.stars_rate input:not(:checked) ~ header::before {
    content: "0 of 5";
    color: white;
}

.stars_rate #star1:checked ~ header::before {
    content: "1 of 5";
    color: white;
}

.stars_rate #star2:checked ~ header::before {
    content: "2 of 5";
    color: white;
}

.stars_rate #star3:checked ~ header::before {
    content: "3 of 5";
    color: white;
}

.stars_rate #star4:checked ~ header::before {
    content: "4 of 5";
    color: white;
}

.stars_rate #star5:checked ~ header::before {
    content: "5 of 5";
    color: white;
}

.feedback_form {
    margin-top: 15px;
}

.feedback_form textarea {
    background-color: rgba(5, 0, 5, 0.3);
    color: white;
}

.submit_button {
    text-align: center;
}

.submit_button input {
    font-size: 25pt;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
    cursor: pointer;
}

/*Section ends*/

/*Section: index.html CSS code - */
/*Section starts*/


h1 {
    font-size: 50pt;
    font-family: "Bangers", serif;
    text-align: center;
    color: #ff80ff;
    position: absolute;
    top: 6%;
    width: 100%;
}

.stopWatch_Container{
  width: 100%;
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
}

#stopwatch {
  color: #ffccff;
  background-color: rgba(128, 0, 128, 0.3);
  border-style: solid;
  font-size: 60px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.MainText_Container{
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
}

#mainText {

    color: #ffccff;
    font-size: 16pt;
    background-color: rgba(128, 0, 128, 0.3);
    border-style: solid;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 15px;
    padding-bottom: 10px;
}

#SignUp_Button {
    font-size: 18pt;
    width: 100px;
    padding-bottom: 0%;
    margin-left: 100px;
    height: 50px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
    
}

#signUpButton {
    position: absolute;
    top: 550px;
    margin-left: 60%;
    font-size: 22pt;
    background-color: #420242;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}

#logInButton {
    position: absolute;
    top: 550px;
    font-size: 22pt;
    margin-left: 35%;
    background-color: #420242;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}

/*Section ends*/

/*Section: trackerPage.html CSS code - */
/*Section starts*/

.Login_Box_Container {
    width: 100%;
    height: 350px;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 226px;
}

.Login_Box {
    width: 350px;
    height: 325px;
    margin-left: 1%;
    padding-top: 35px;
    background-color: rgba(32, 1, 32, 0.3);
    color: white;
    border-radius: 5px;
}

.Login_Icon_Container {
    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: 192px;
    justify-content: center;
    display: flex;
}

#Login_Icon {
    position: absolute; 
    margin-left: 1%; 
    font-size: 65px;
    padding-left: 7px;
    padding-top: 4px;
    color: white;
    background-color: rgba(34, 1, 34, 0.3);
    border-radius: 50%;
    width: 68px;
    height: 68px;
    

}

form .Input_Field .Login_Button {
    font-size: 18pt;
    padding-top: 0%;
    width: 100px;
    margin-left: 100px;
    height: 50px;
    color: white;
    border-style: solid;
    font-family: "Bangers", serif;
    background-color: #420242;
}

form .Input_Field .Forgot_Password {
    padding-top: 12px;
    padding-bottom: 20px;
}

form .Input_Field .Forgot_Password #Forgot {
    color: white;
}

form .Input_Field i {
    font-size: 28px;
    padding-right: 10px;
    background-color: #420242;
    height: 35px;
    text-align: center;
    padding-top: 4px;
    padding-left: 8px;
}

/*Section ends*/

/*Section: signUp.html CSS code - */
/*Section starts*/

.Sign_Up_Box_Container {
    width: 100%;
    height: 670px;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 180px;
}

.Sign_Up_Box {
    width: 350px;
    height: 660px;
    margin-left: 1%;
    padding-top: 2px;
    background-color: rgba(32, 1, 32, 0.3);
    color: white;
    border-radius: 5px;
}

#SignUp_Title {
    text-align: center;
    font-size: 22pt; 
}

#SignUp_h4 {
    font-size: 13pt;
}

hr {
    margin-right: 10px;
}

#First_Name {
    margin-top: 6px;
}

form p {
    padding-top: 10px;
}

#Already_withAccount {
    color: white;
}

form {
    padding-left: 20px;
}

form .Input_Field {
    height: 45px;
    padding-bottom: 25px;
}

form .Input_Field input {
    height: 25px;
    width: 80%;
    padding-top: 9px;
    background-color: rgba(5, 0, 5, 0.3);
    color: aliceblue;
    font-size: 12pt;
}

form #Password_Id {
    padding-bottom: 0%;
}

#remove_paddingBottom {
    padding-bottom: 0%;
}

::placeholder {
    color: aliceblue;
}

h3 {
    text-align: center;
    font-size: 19pt;
}

/*Section ends*/

/*Section: instructions.html CSS code - */
/*Section starts*/


.Instructions_Box_Container {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 180px;
    height: 450px;
}

.Instructions_Box {
    width: 500px;
    height: 420px;
    color: #ffccff;
    background-color: rgba(128, 0, 128, 0.3);
    border-style: solid;
    overflow-y: scroll;
    padding: 1px 15px;
    
}

.Instructions_Box h2 {
    color: #fda5fd;
    text-decoration: underline;
}

.Instructions_Box h3 {
    text-decoration: underline;
    color: #fda5fd;
    text-align: left;
}

.Instructions_Box p {
    text-align: justify;
    font-size: 13pt;

}

/*Section ends*/

@media (max-width: 1258px) {
    nav ul li a{
        font-size: 16pt;
        padding: 14px 60px;
    }
}

@media (max-width: 1162px){

    .check_button_menu{
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #420242;
        top: 25px;
        font-size: 45pt;
        padding-top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul #straight_line {
        display: none;
    }

    #check:checked ~ ul{
        left: 0;
        z-index: 1;
    }
    
}

@media (max-width: 1326px) {
    .About_Container .About_Me {
        overflow-y: scroll;  
        margin-left: auto; 
        margin-right: auto; 
    }
}

@media (max-width: 1232px) {
    .About_Container {
        display: block;
        height: 1200px;
    } 

    .About_Container .Feedback_Box {    
        margin-top: 25px;
        margin-left: auto; 
        margin-right: auto; 
    }
   
}